<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="iotHubHostname" value="[your-iot-hub-reource].azure-devices.net" />
    <add key="connectionString" value="HostName=[your-iot-hub-reource].azure-devices.net;SharedAccessKeyName=registryWrite;SharedAccessKey=[your-iot-hub-registry-write-key]" />
  </appSettings>
</configuration>