<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="iotHubHostname" value="jmfzIoTHub.azure-devices.net" />
    <add key="connectionString" value="HostName=jmfzIoTHub.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=g6+7FwjKiAi32X42U9ywN95n3iZZI8x45uAGktQBaWg=" />
  </appSettings>
</configuration>