<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="iotHubHostname" value="jmfzIoTHub.azure-devices.net" />
    <add key="connectionString" value="HostName=jmfzIoTHub.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=okgpPI7zuH65j3m7nE+mY9LecZvm/hOJ9W8o0HsVmYM=" />
  </appSettings>
</configuration>